#main {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  width: 100%;

  background-color: lightgray;

  .mainAppBar {
    background-color: cadetblue;
  }

  .title {
    flex: 1 1;
  }

  #players {
    display: flex;
    flex-flow: row nowrap;

    .player {
      flex: 1 1;
      margin: 8px;
      max-width: 400px;

      .companyToolbar {
        padding: 0;

        button {
          margin: 4px;
        }
      }

      .playerStocks {
        display: flex;
        padding: 8px;

        .stockChip {
          padding: 4px;
          margin: 4px;
        }
      }
    }
  }

  #companies {
    display: flex;
    flex-flow: row nowrap;

    .company {
      flex: 1 1;
      margin: 8px;
      max-width: 400px;

      .companyToolbar {
        padding: 0;
      }
    }
  }

  #scores {
    .operatingRoundCard {
      flex: 1 1;
      max-width: 500px;
      margin: 8px;
    }
  }
}
