html, body, #app, .container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: .75em;
}
